<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fortvision_Sync::configuration"
             title="Sync Settings"
             module="Fortvision_Sync"
             sortOrder="30"
             translate="title"
             parent="Fortvision_Platform::general"
             action="adminhtml/system_config/edit/section/fortvision_sync"
             resource="Fortvision_Sync::configuration"/>

    </menu>
</config>
