<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fortvision_sync>
            <general>
                <is_enabled>0</is_enabled>
                <cron>0 0 * * *</cron>
            </general>
        </fortvision_sync>
    </default>
</config>
