<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fortvision_platform>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <events>
                <customer_login>0</customer_login>
                <cart_management>0</cart_management>
            </events>
            <marketing>
                <checkbox_location>after_order_record</checkbox_location>
                <default_checked>1</default_checked>
            </marketing>
        </fortvision_platform>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
